### Set
Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is unordered, unchangeable*, and unindexed.

#### Sets are written with curly brackets.

In [1]:
thisset = {"apple", "banana", "mango"}
print(thisset)

{'banana', 'apple', 'mango'}

### Set Items
Set items are unordered, unchangeable, and do not allow duplicate values.

### Unordered
Unordered means that the items in a set do not have a defined order.

Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

### Duplicates Not Allowed
Sets cannot have two items with the same value.

In [2]:
thisset = {"apple", "banana", "cherry", "apple"}
print(thisset)

{'banana', 'apple', 'cherry'}

### Get the Length of a Set
To determine how many items a set has, use the len() function.

In [3]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

### The set() Constructor
It is also possible to use the set() constructor to make a set.

In [4]:
thisset = set(("apple", "banana", "cherry"))
print(thisset)

{'banana', 'apple', 'cherry'}

### Access Items
You cannot access items in a set by referring to an index or a key.

But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [5]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
    print(x)

banana
apple
cherry

### Add Items

To add one item to a set use the add() method.

In [6]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")
print(thisset)

{'banana', 'apple', 'cherry', 'orange'}

### Add Sets
To add items from another set into the current set, use the update() method.

In [7]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)
print(thisset)

{'cherry', 'mango', 'pineapple', 'banana', 'apple', 'papaya'}

### Add Any Iterable
The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

In [8]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]
thisset.update(mylist)
print(thisset)

{'cherry', 'kiwi', 'orange', 'banana', 'apple'}

### Remove Item
To remove an item in a set, use the remove(), or the discard() method.

In [9]:
thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")
print(thisset)

{'apple', 'cherry'}

### Join Two Sets
There are several ways to join two or more sets in Python.

You can use the union() method that returns a new set containing all items from both sets, or the update() method that inserts all the items from one set into another:

In [10]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 'a', 2, 3, 'c', 'b'}

### Keep ONLY the Duplicates
The intersection_update() method will keep only the items that are present in both sets.

In [11]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)
print(x)

{'apple'}

### Keep All, But NOT the Duplicates
The symmetric_difference_update() method will keep only the elements that are NOT present in both sets.

In [12]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)
print(x)

{'cherry', 'microsoft', 'banana', 'google'}